{% extends '@SyliusUi/Form/theme.html.twig' %}

{% block eightlines_sylius_notification_plugin_customer_autocomplete_choice_row %}
    {{ form_row(form, {
        'remote_url': path('eightlines_sylius_notification_plugin_admin_ajax_customers_by_phrase'),
        'load_edit_url': path('eightlines_sylius_notification_plugin_admin_ajax_customer_by_id')
    }) }}
{% endblock %}

{% block notification_message_row %}
    {% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}
    {{ translationForm(form.translations) }}
{% endblock %}

{% block notification_action_widget %}
    <div class="ui segment">
         {% for field in form.children %}
            {{ form_row(field) }}
         {% endfor %}
    </div>
{% endblock %}
