<div class="ui segment">
    {% include '@EightLinesSyliusNotificationPlugin/Admin/AuditLog/Show/Details/_table.html.twig' with { resource: resource } %}

    <div class="ui divider"></div>

    {% include '@EightLinesSyliusNotificationPlugin/Admin/AuditLog/Show/Details/_context.html.twig' with { resource: resource } %}
</div>
